
NODE_ENV="development"
PORT=5000
APP_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/buddy_script?schema=public"

#jwt
JWT_ACCESS_SECRET="your-access-secret-key-here"
JWT_REFRESH_SECRET="your-refresh-secret-key-here"
JWT_ACCESS_EXPIRES_IN="7d"
JWT_REFRESH_EXPIRES_IN="30d"
BCRYPT_SALT_ROUNDS=12

#cloudinary
CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name" 
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"
CLOUDINARY_FOLDER="cloudinary_folder"

#multer
MULTER_ALLOWED_FORMATS="multer_allowed_formats"
MULTER_MAX_FILE_SIZE_MB="multer_max_file_size_mb"

#redis
REDIS_URL="redis://localhost:6379"